body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  /* to include the padding in the size (width, height)... and not adding it */
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}